In [13]:
import pandas as pd

##### Cambiar valores de columnas a valores numéricos

In [14]:
df_data = pd.read_csv("process_dataset/02_second_result.csv")
df_data

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk,Systolic,Diastolic
0,19,Female,143,51,1,0,0,0,16.978907,Unhealthy,...,5.608110,281460,39.348247,208,7,8,Europe,0,138,85
1,33,Male,170,46,1,1,0,1,2.210484,Average,...,11.135276,243539,33.982475,680,1,9,Europe,0,166,101
2,85,Male,201,105,0,0,1,1,12.466069,Unhealthy,...,4.608431,37640,37.491882,382,1,10,South America,1,107,96
3,37,Female,150,87,0,0,0,1,7.893431,Healthy,...,3.274396,24919,34.952897,359,0,4,Asia,0,111,67
4,18,Female,233,74,0,1,0,1,18.571328,Healthy,...,8.142061,103201,39.428916,704,4,5,Asia,0,136,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6273,80,Male,151,108,1,0,1,0,1.617427,Healthy,...,6.158898,44182,36.497506,651,0,7,South America,0,160,74
6274,27,Female,396,79,1,0,0,0,4.601646,Average,...,8.937923,288273,21.534604,754,0,10,South America,0,129,108
6275,44,Female,339,85,1,0,1,1,14.725646,Healthy,...,7.760313,177113,21.402346,269,1,8,Europe,0,177,94
6276,70,Male,123,76,0,1,0,1,2.800186,Average,...,5.884754,28864,22.434137,540,2,8,Australia,0,157,98
6277,65,Male,331,44,1,0,0,0,19.694697,Healthy,...,2.408319,253796,26.107055,298,4,9,Asia,1,136,103

In [15]:
df_data.dtypes

Age                                  int64
Sex                                 object
Cholesterol                          int64
Heart Rate                           int64
Diabetes                             int64
Family History                       int64
Obesity                              int64
Alcohol Consumption                  int64
Exercise Hours Per Week            float64
Diet                                object
Previous Heart Problems              int64
Medication Use                       int64
Stress Level                         int64
Sedentary Hours Per Day            float64
Income                               int64
BMI                                float64
Triglycerides                        int64
Physical Activity Days Per Week      int64
Sleep Hours Per Day                  int64
Continent                           object
Heart Attack Risk                    int64
Systolic                             int64
Diastolic                            int64
dtype: object

##### Codificación con one-hot
- Trata todas las categorías de manera equitativa, evitando que el modelo aprenda relaciones incorrectas entre ellas.
- Facilita la interpretación

In [16]:
df_data = pd.get_dummies(df_data, columns=['Sex', 'Diet', 'Continent'])
df_data[df_data.select_dtypes(include='bool').columns] = df_data.select_dtypes(include='bool').apply(lambda x: x.astype(int))

In [17]:
df_data.head(5)

,Age,Cholesterol,Heart Rate,Diabetes,Family History,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Medication Use,...,Sex_Male,Diet_Average,Diet_Healthy,Diet_Unhealthy,Continent_Africa,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America
0,19,143,51,1,0,0,0,16.978907,0,1,...,0,0,0,1,0,0,0,1,0,0
1,33,170,46,1,1,0,1,2.210484,0,0,...,1,1,0,0,0,0,0,1,0,0
2,85,201,105,0,0,1,1,12.466069,1,1,...,1,0,0,1,0,0,0,0,0,1
3,37,150,87,0,0,0,1,7.893431,1,1,...,0,0,1,0,0,1,0,0,0,0
4,18,233,74,0,1,0,1,18.571328,1,1,...,0,0,1,0,0,1,0,0,0,0

In [18]:
df_data.to_csv("process_dataset/05_fifth_result.csv", index=False)