In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

#### Separar dataset en entrenamiento, validación y testeo

In [2]:
df_data = pd.read_csv("process_dataset/05_fifth_result.csv")
df_data.head(5)

,Age,Cholesterol,Heart Rate,Diabetes,Family History,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Medication Use,...,Sex_Male,Diet_Average,Diet_Healthy,Diet_Unhealthy,Continent_Africa,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America
0,19,143,51,1,0,0,0,16.978907,0,1,...,0,0,0,1,0,0,0,1,0,0
1,33,170,46,1,1,0,1,2.210484,0,0,...,1,1,0,0,0,0,0,1,0,0
2,85,201,105,0,0,1,1,12.466069,1,1,...,1,0,0,1,0,0,0,0,0,1
3,37,150,87,0,0,0,1,7.893431,1,1,...,0,0,1,0,0,1,0,0,0,0
4,18,233,74,0,1,0,1,18.571328,1,1,...,0,0,1,0,0,1,0,0,0,0

#### Separar columna respuesta de los datos

In [3]:
response = df_data['Heart Attack Risk']
data = df_data.drop(columns=['Heart Attack Risk'])

In [4]:
X_train, X_test, y_train, y_test = train_test_split(data, response, test_size=0.1, random_state=42)

In [5]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

#### Guardar datos y columna respuesta

In [6]:
X_train.to_csv("process_dataset/train_data.csv", index=False)
X_val.to_csv("process_dataset/val_data.csv", index=False)
X_test.to_csv("process_dataset/test_data.csv", index=False)

In [7]:
with open("process_dataset/y_train.npy", 'wb') as doc_export:
    np.save(doc_export, y_train)

In [8]:
with open("process_dataset/y_val.npy", 'wb') as doc_export:
    np.save(doc_export, y_val)

In [9]:
with open("process_dataset/y_test.npy", 'wb') as doc_export:
    np.save(doc_export, y_test)